<div class="row">
  <%= form_with(model: @user, local: true, method: :put) do |form| %>
  <div class>
    <label class="form-label">名前</label>
    <%= form.text_field :nickname, class: "form-control" %>
  </div>
  <div class="">
    <label class="form-label">自己紹介</label>
    <%= form.text_area :introduction, class: "form-control" %>
  </div>
  <div class="">
    <%= form.submit "更新" %>
  </div>
<% end %>
</div>